@charset "utf-8";
#wrapper {
	width: 950px;
	margin-right: auto;
	margin-bottom: 10;
	margin-left: auto;
	background-color:#FFF;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 15px;
}

#container {
	width: 200px;
	height: 200px;
	padding: 5px;
	margin-bottom: 20px;
	float: left;
}
#thumbnail {
	width: 200px;
	height: 200px;
	margin: 15px;
}
#info {
	margin-top: 10px;
	height: 35px;
	padding: 3px;
	font-family: "Comic Sans MS", cursive;
	font-size: 12px;
	word-wrap: break-word;
}
.clear {
	clear: both;
}

#commentBox {
	width: 280px;
	height: 200px;
	margin-left: 10px;
	border-radius: 5px;
	font-family: sans-serif;
}

#commentLabel {
	width: 280px;
	height: 25px;
	margin: 15px;
	font-family: sans-serif;
	text-align: center;
	font-size: 22px;
}

#upload {
	color: #FFFFFF;
	background-color: #000000;
	margin-top: 20px;
	width: 300px;
	height: 410px;
	padding: 10px;
	border: solid thin #999;
}

#fileSelect {
	margin: 10px;
	height: 55px;
	width: 280px;
	font-family: sans-serif;
	text-align: center;
	font-size: 18px;
	background-image: linear-gradient(bottom, rgb(230,230,223) 17%, rgb(255,255,255) 87%);
	background-image: -o-linear-gradient(bottom, rgb(230,230,223) 17%, rgb(255,255,255) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(230,230,223) 17%, rgb(255,255,255) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,230,223) 17%, rgb(255,255,255) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(230,230,223) 17%, rgb(255,255,255) 87%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, rgb(230,230,223)),
		color-stop(0.87, rgb(255,255,255))
	);
	color: #000000;
	border-radius: 5px;
	margin-bottom: -22px;
	padding-top: 10px;
}

#fileSelect input {
	margin-top: -26px;
	filter: alpha(opacity=0);
	opacity: 0;
	height: 55px;
}

#submit {
	margin: 10px;
	height: 65px;
	width: 286px;
	font-family: sans-serif;
	text-align: center;
	font-size: 22px;
	background-image: linear-gradient(bottom, rgb(235,176,219) 20%, rgb(255,255,255) 87%);
	background-image: -o-linear-gradient(bottom, rgb(235,176,219) 20%, rgb(255,255,255) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(235,176,219) 20%, rgb(255,255,255) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(235,176,219) 20%, rgb(255,255,255) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(235,176,219) 20%, rgb(255,255,255) 87%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(235,176,219)),
		color-stop(0.87, rgb(255,255,255))
	);
}

a:link {
	color: #603;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	color: #06C;
}
a:active {
	text-decoration: underline;
}
.success,.error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url(../images/success.png);
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../images/error.png);
}
